/* Write your CSS here */
.projecttimeLinecard-wrap {
  align-items: center;
  font-family: 'Roboto';
  width: 100%;
}

.top-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 26px;
}

.wrap {
  display: flex;
  align-items: center;
}

.project-img {
  width: 100%;
}
